body {
    background-color: #F9EDC3;
    font-family: Arial;
    font-size: 12px;
}

.dygraph-label {
    font-size: 12px;
}

.sensor-reading  * {
    margin-right: 8px;
}

.sensor-graph {
    margin-top: 10px;
    margin-bottom: 10px;
}

.graph-box {
    height: 190px;
}

.message {
    margin-left: 12px;
    margin-right: 12px;
}

.graph-button {
    position: absolute;
    right: 14px;
    z-index: 10;
    font-size: 20px;
}