/* Color palette */
:root {
    --cc-teal-light-6: #f1f6ed;
    --cc-teal-light-4: #e4ecdb;
    --cc-teal-light-4: #d7e3c9;
    --sage: #c9dab7;
    --cc-teal: #b3ca9d;
    --cc-teal: #9eba83;
    --cc-teal: #85a667;
    --cc-teal: #6a8e4a;
    --cc-teal: #547935;
    --cc-teal: #2e5f02;
    --inner-shadow: rgba(0, 0, 0, 0.5);
    --white: #ffffff;
    --graph-text: #242424;
    --graph-background: #f8f8f8;
    --graph-axes: #747474;
    --graph-lines: #bfbfbf;
    --sensor-red: #ff0000;
    --sensor-red-dark: #cf0000;
    --sensor-yellow: #eef800;
    --sensor-yellow-dark: #a9b000;
    --sensor-green: #7afa00;
    --sensor-green-dark: #5ec100;
    --graph-line-color: #0081ff;
    --prediction-line-color: #ff8415;
    --graph2-line-color: #008a00;
    --authored-line-color: #d100d1;
    --app-content-unusable-vertical-height: 58px;

    --cc-charcoal: #3f3f3f;
    --cc-charcoal-hint: #828282;
    --cc-charcoal-light-1: #979797;
    --cc-charcoal-light-2: #dfdfdf;
    --cc-teal-dark-2: #016082;
    --cc-teal-dark-1: #0481a0;
    --cc-teal: #0592af;
    --cc-teal-light-1: #2ba5c1;
    --cc-teal-light-2: #6fc6da;
    --cc-teal-light-3: #93d5e4;
    --cc-teal-light-4: #b7e2ec;
    --cc-teal-light-5: #cdebf2;
    --cc-teal-light-5-b: #d8eff5;
    --cc-teal-light-6: #e2f4f8;
    --cc-teal-light-6-b: #f0f9fb;
    --cc-teal-light-7: #f5fbfc;

    --graph-button-height: 36px;
    --graph-button-border-rad: 4px;
}

body {
    background-color: white;
    font-family: Lato, Verdana, Geneva, sans-serif;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: var(--cc-teal);
    margin: 0;
    overflow: hidden;
}

input, textarea, select, button {
    font-family: Lato, Verdana, Geneva, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: var(--cc-teal);
}

select {
    height: 36px;
}

button {
    transition-duration: .25s;
    border-radius: 4px;
    height: var(--graph-button-height);
    /* padding: 8px 10px 9px; */
    border-radius: var(--graph-button-border-rad);
    border: solid 1.5px var(--cc-charcoal-light-1);
    background-color: var(--cc-teal-light-6);
    color: var(--cc-charcoal);
    font-family: lato, verdana, geneva, sans-serif;
    font-size: 14px;
}

button:hover {
    background-color: var(--cc-teal-light-4);
}

button:active {
    background-color: var(--cc-teal);
    color: white;
    border-color: white;
}

button:disabled {
    opacity: 0.5;
}

button:disabled:hover {
    opacity: 0.5;
    background-color: var(--cc-teal-light-6);
}

.disable-focus-highlight {
    outline: none;
}

.app-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.app-content {
    display: flex;
    flex-direction: column;
    flex: 1 1;
    margin-top: 8px;    /* affects .app-content:max-height */
    /* 58px = .app-content:margin-top + .control-panel:flex-basis + .control-panel:margin-top */
    max-height: calc(100% - var(--app-content-unusable-vertical-height));
}

.app-top-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* Sensor Status */
.top-bar-left-controls {
    flex-grow: 1;
    width: 200px;
    height: 100%;
    margin-left: 11px;
}

.status-message-holder {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 38px;
}

.wireless-status-border {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    border: solid 2.5px var(--cc-teal);
    border-radius: 50%;
}

.wireless-status-icon {
    width: 10px;
    height: 10px;
    border: solid 1.5px var(--sensor-red-dark);
    border-radius: 50%;
    background-color: var(--sensor-red);
}
.wireless-status-icon.connecting {
    border: solid 1.5px var(--sensor-yellow-dark);
    background-color: var(--sensor-yellow);
}
.wireless-status-icon.connected {
    border: solid 1.5px var(--sensor-green-dark);
    background-color: var(--sensor-green);
}

.wireless-status-icon-hi {
    margin: 2px 0px 0px 2px;
    width: 4px;
    height: 4px;
    -webkit-filter: blur(1px);
    filter: blur(1px);
    background-color: var(--white);
}

.status-message {
    margin-left: 11px;
    width: 170px;
}

/* Sensor Controls */
.sensor-controls-holder {
    display: flex;
    justify-content: center;
}

/* Connection Buttons */
/* .sensor-buttons {
    display: flex;
    margin: 4px 0px 4px 0px;
} */

/* .connect-to-device-button {
    width: 106px;
    height: 30px;
    border-radius: 6px;
    border: solid 3px var(--cc-teal);
    background-color: var(--cc-teal-light-4);
    margin: 0px 4px 0px 4px;
    padding: 0px;
    cursor: pointer;
    transition-duration: .25s;
}
.connect-to-device-button:hover {
    background-color: var(--sage);
}
.connect-to-device-button:active {
    border: solid 3px var(--cc-teal);
    background-color: var(--cc-teal);
} */

/* Connection Message */
.connect-message-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 110px;
    margin: 0px 4px 0px 4px;
}

.connect-message {
    line-height: 1.1;
}

.connect-sub-message {
    font-size: 10px;
    font-weight: normal;
    font-style: italic;
    line-height: 1.1;
}

/* Sensor Selection */
.sensor-select {
    width: 200px;
    height: 36px;
    border: solid 3px var(--cc-teal);
    background-color: var(--cc-teal-light-6);
    margin-right: 2px;
    padding-left: 5px;
    border-radius: 5px 0px 0px 5px;
    cursor: pointer;
    transition-duration: .25s;
}
.sensor-select:focus > option:checked {
    background: var(--sage) !important;
}
.sensor-select:hover {
    background-color: var(--cc-teal-light-4);
}
.sensor-select:active {
    background-color: var(--cc-teal-light-4);
    border-color: var(--cc-teal);
}
.sensor-select.single {
    border: solid 1px var(--cc-teal);
    -moz-appearance: none;
    -webkit-appearance: none;
    padding-left: 9px;
    pointer-events: none;
}

/* Sensor Reading */
.reading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px;
    height: var(--graph-button-height);
    border-radius: var(--graph-button-border-rad);
    border: solid 1px var(--cc-teal);
    background-color: var(--graph-background);
    margin: 0px 2px 0px 2px;
}

.reading-label {
    font-size: 9px;
    font-weight: normal;
    font-style: italic;
    color: var(--cc-teal);
    margin-top: 1px;
}

.sensor-reading {
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    color: var(--graph-text);
}

/* Zero Sensor */
.zero-button {
    /* width: 52px;
    height: 30px; */
    border: solid 1px var(--cc-teal);
    background-color: var(--cc-teal-light-4);
    line-height: 0.92;
    text-align: center;
    color: var(--cc-teal);
    margin: 0px 2px 0px 2px;
    cursor: pointer;
    transition-duration: .25s;
}
.zero-button:hover {
    background-color: var(--sage);
}
.zero-button:active {
    border: solid 1px var(--cc-teal);
    background-color: var(--cc-teal);
}
.zero-button:disabled {
    opacity: .35;
    pointer-events: none;
}

/* Remove Sensor */
/* .remove-sensor-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin: 0px 2px 0px 2px;
    border-radius: 0px 5px 5px 0px;
    border: solid 1px var(--cc-teal);
    background-color: var(--cc-teal-light-4);
    cursor: pointer;
    transition-duration: .25s;
}
.remove-sensor-button:hover {
    background-color: var(--sage);
}
.remove-sensor-button:active {
    border: solid 1px var(--cc-teal);
    background-color: var(--cc-teal);
} */

/* Add Sensor */
.top-bar-right-controls {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    margin-right: 11px;
    width: 200px;
}
/*
.add-sensor-button {
    width: 106px;
    height: 30px;
    border-radius: 6px;
    border: solid 3px var(--cc-teal);
    background-color: var(--cc-teal-light-4);
    cursor: pointer;
    transition-duration: .25s;
}
.add-sensor-button:hover {
    background-color: var(--sage);
}
.add-sensor-button:active {
    border: solid 3px var(--cc-teal);
    background-color: var(--cc-teal);
}

.pause-heartbeat-button {
    width: 106px;
    height: 30px;
    border-radius: 6px;
    border: solid 2px var(--cc-teal);
    background-color: var(--cc-teal-light-4);
    cursor: pointer;
    transition-duration: .25s;
    margin-left: 10px;
}
.pause-heartbeat-button:hover {
    background-color: var(--sage);
}
.pause-heartbeat-button:active {
    border: solid 2px var(--cc-teal);
    background-color: var(--cc-teal);
}
.pause-heartbeat-button:disabled {
    opacity: .35;
    pointer-events: none;
} */


/* Graphs */
.graphs-panel {
    flex: 1 1;
}
.graphs-panel.disabled {
    opacity: .35;
}

.dygraph-label {
    font-size: 12px;
}

.dygraph-xlabel {
    margin-top: 8px;
}

.sensor-graph-panel {
    margin: 8px;
    display: flex;
}

.sensor-graph {
    flex: 1 1;
    user-select: none;
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    color: var(--graph-text);
}

.graph-rescale-button {
    position: absolute;
    top: 8px;
    right: 33px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    cursor: pointer;
    border-radius: 5px;
}

.graph-rescale-button.disabled {
    pointer-events: none;
    cursor: default;
}

.graph-rescale-button.selected {
  background-color: var(--cc-teal-dark-1);
}

.icon.rescale.selected {
  fill: white;
}

.graph-rescale-button:hover .icon{
    fill: #8f8f8f;
}

.graph-rescale-button:hover .icon.selected {
  fill: var(--cc-teal-light-5);
}

.graph-rescale-button:active .icon {
    fill: var(--graph-axes);
}

.graph-side-panel {
    width: 200px;
    min-width: 200px;
    flex: 0 0;
    display: flex;
    flex-direction: column;
    user-select: none;
}

.graph-top-panel-holder {
    display: flex;
    flex-direction: column;
}

.graph-top-panel {
    display: flex;
    flex-direction: row;
    user-select: none;
    margin: 4px 0px 4px 0px;
}

/* Graph Legend */
.bottom-legend {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 20px;
    font-family: Arial;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    color: var(--graph-text);
}
.bottom-legend .bar {
    height: 3px;
    width: 20px;
    margin: 0;
    position: relative;
}
.bottom-legend.lineGraph.singleReads .bar {
    background: transparent;
    width: 15px
}
.bottom-legend .bar:before {
    background: #ccc;
    content: " ";
    display: inline-block;
    height: 10px;
    left: 5px;
    position: absolute;
    top: -3.3px;
    width: 10px;
}
.bottom-legend.lineGraph .bar:before {
    border-radius: 50%;
}
.bottom-legend .bar.primary,
.bottom-legend .bar.primary:before {
    background: var(--graph-line-color);
}
.bottom-legend .bar.secondary,
.bottom-legend .bar.secondary:before {
    background: var(--graph2-line-color);
}
.bottom-legend .bar.prediction,
.bottom-legend .bar.prediction:before {
    background: var(--prediction-line-color);
}
.bottom-legend .bar.prerecording,
.bottom-legend .bar.prerecording:before {
    background: var(--authored-line-color);
}
.bottom-legend.barGraph .bar.primary,
.bottom-legend.barGraph .bar.secondary,
.bottom-legend.barGraph .bar.prerecording,
.bottom-legend.barGraph .bar.prediction {
    background: transparent;
    width: 15px;
}
.bottom-legend.lineGraph:not(.singleReads) .bar.primary:before,
.bottom-legend.lineGraph:not(.singleReads) .bar.secondary:before {
    background: transparent;
}
.bottom-legend .name {
    margin: 0 10px 0 7px;
}
.bottom-legend .name.primary {
    color: var(--graph-line-color);
}
.bottom-legend .name.secondary {
    color: var(--graph2-line-color);
}
.bottom-legend .name.prediction {
    color: var(--prediction-line-color);
}
.bottom-legend .name.prerecording {
    color: var(--authored-line-color);
}

/* Bottom Control Panel */
.control-panel {
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    /* margin: 21px 0 0; */
    color: white;
    background-color: var(--cc-teal-dark-1);
    user-select: none;
}

.control-panel.disabled {
    opacity: 0.5;
}

.control-panel .duration-label {
    margin-left: 6px;
}
.control-panel .duration-label.disabled {
    opacity: .35;
    pointer-events: none;
}

.control-panel .duration-select {
    margin-right: 16px;
    border: solid 1px var(--cc-teal);
    background-color: var(--cc-teal-light-6);
    border-radius: 5px 0px 0px 5px;
    margin: 0px 4px 0px 4px;
    cursor: pointer;
    transition-duration: .25s;
}
.control-panel .duration-select:hover {
    background-color: var(--cc-teal-light-4);
}
.control-panel .duration-select:active {
    background-color: var(--cc-teal-light-4);
}
.control-panel .duration-select:disabled {
    opacity: .35;
    pointer-events: none;
}
.control-panel .duration-select:focus > option:checked {
    background: var(--sage) !important;
}

/* .control-panel-button {
    width: 50px;
    border-radius: 5px;
    border: solid 1px var(--cc-teal);
    background-color: var(--cc-teal-light-4);
    margin: 0px 4px 0px 4px;
    cursor: pointer;
    transition-duration: .25s;
}
.control-panel-button:hover {
    background-color: var(--sage);
}
.control-panel-button:active {
    background-color: var(--cc-teal);
}
.control-panel-button:disabled {
    opacity: .35;
    pointer-events: none;
} */

.control-panel button {
    margin: 0 14px 0 0;
}

.control-panel .send-data, .new-data, .record-sensor {
    width: 87px;
    font-size: 14px;
}

.control-panel .left-controls {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: 20px;
}
.control-panel .left-controls button {
    margin: 0 0 0 14px;
}
.control-panel .right-controls {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px
}

.embed-codap-link {
    margin-top: 4px;
    margin-right: 8px;
}

.icon-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 38px;
    cursor: pointer;
    transition-duration: .25s;
}
.icon-container:hover {
    background-color: var(--cc-teal);
}
.icon-container:active {
    background-color: var(--cc-teal);
}
/* .icon-container:hover .icon {
    fill: var(--cc-teal);
}
.icon-container:active .icon {
    fill: var(--cc-teal);
} */
.icon-container:hover .icon.about {
    filter: saturate(1.07);
    filter: brightness(1.07);
}
.icon-container:active .icon.about {
    filter: saturate(1.15);
    filter: brightness(1.15);
}

.icon-label {
    font-size: 9px;
    font-style: bold;
}

.icon {
    width: 16px;
    height: 16px;
    fill: var(--cc-teal);
    transition-duration: .25s;
}
.icon.reload, .icon.about {
    width: 18px;
    height: 18px;
    stroke: none;
    fill: white;
}

.icon.rescale {
    width: 20px;
    height: 20px;
    fill: #a7a7a7;
}

.icon.about {
    width: 17.3px;
    height: 16px;
}

.prompt {
    padding-left: 1em;
    font-size: 12px;
}